    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ project_name }}{% if !page_title.is_empty() %} - {{ page_title }}{% endif %}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/themes/nacre-dark.css">
    <link rel="stylesheet" href="/themes/nacre-light.css">
    <link rel="stylesheet" href="/themes/catppuccin-latte.css">
    <link rel="stylesheet" href="/themes/catppuccin-frappe.css">
    <link rel="stylesheet" href="/themes/catppuccin-macchiato.css">
    <link rel="stylesheet" href="/themes/catppuccin-mocha.css">
    <link rel="stylesheet" href="/autumnus.dark.css">
    <link rel="stylesheet" href="/autumnus.light.css">
    <script src="/app.js"></script>
